<% provide(:title, @show.title) %>
<div class = "container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class='show_poster'>
        <%= image_tag(@show.thumbnail, size: "180") %>
      </div>
      <h1><%= @show.title %></h1>
    </div>
  </div>

  <div id="rating">
    <div class="row">
      <%= render 'rating_stats' %>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-5 col-xs-6 col-xs-offset-3">
        <div class="btn-group btn-group-justified" role="group">
          <%= render 'rating_form' %>
        </div>
      </div>
    </div>
  </div>

  <div id = "show_navigation">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <%= link_to "Episodes", show_path(items: 'Episode'), class: "season_nav"%>
        <%= link_to pluralize((Clip.where(episode_id: Episode.where(season_id: @seasons)).count + Quote.where(episode_id: Episode.where(season_id: @seasons)).count).to_s, " Clips & Quotes"), show_path(items: 'media') , class: "media_nav"%>
        <% if List.find_by(show_id: @show, user_id: current_user) %>
        <%= link_to  pluralize(List.find_by(show_id: @show, user_id: current_user).episodes.count.to_s, " Buzzlisted Episode"), list_path(List.find_by(show_id: @show, user_id: current_user)), class: "list_nav" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
  <div id = "season-selector">
    <ol class="nav nav-tabs nav-justified">
      <!-- <ol class="nav nav-tabs">
      <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Seasons <span class="caret"></span>
        </a>
      <ol class="dropdown-menu"> -->
        <li class = <%="active" if params[:season_id].class !=String %>>
          <%= link_to 'Best', show_path(items: params[:items], best: true) %>
        </li>
        <!--<li role="separator" class="divider"></li>-->
        <%= render @seasons %>
        <!--</ol>
        </li> -->
      </ol>
      </div>
  </div>
  
  <div class="row" id="add_quote">
    <div class="col-md-4 col-md-offset-4">
      <% if params[:items] == 'media' %>
      <div id = "new_link">
        <%= link_to "Add a Quote", new_quote_path(show: @show), remote: true, class: "btn btn-primary" %>
        <%= link_to "Add a Clip", new_clip_path(show: @show), remote: true, class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
  <% if params[:items] == "Episode" %>
  <%= render @items %>
  <% else %>
  <!--Masonry only on media-->
  <div class='items transitions-enabled'>
    <%= render @items %>
  </div>
  <% end %>
</div>